---
import Layout from '@/layouts/Layout.astro';
import {Button} from '@/components/ui/button';
---

<Layout>
  <main>
    <section class="px-8 py-12 mx-auto max-w-7xl md:px-12">
      <div class="flex flex-col md:flex-row items-center gap-12">
        <div class="w-full md:w-1/2">
          <img 
            src="/images/tienda.webp" 
            alt="Tienda APShome" 
            class="rounded-xl object-cover w-full aspect-5/4 shadow-xl"
            loading="lazy"
          />
        </div>
        
        <div class="w-full md:w-1/2 space-y-6">
          <h1 class="text-4xl md:text-5xl lg:text-6xl font-display text-black uppercase">
            Sobre Nosotros
          </h1>
          
          <r class="prose prose-lg text-justify text-gray-600">
            <p>
              En APShome, nos dedicamos a transformar casas en hogares desde nuestra fundación. 
              Como empresa familiar especializada en mobiliario, nos enorgullecemos de ofrecer 
              una cuidadosa selección de muebles que combinan calidad, estilo y confort.
            </p>
            </br>
            <p>
              Nuestra misión es proporcionar a nuestros clientes soluciones de mobiliario 
              que no solo cumplan con sus necesidades funcionales, sino que también reflejen 
              su estilo personal y mejoren su calidad de vida. Cada pieza en nuestra colección 
              es elegida cuidadosamente, asegurando los más altos estándares de calidad y diseño.
            </p>
            </br>
            <p>
              Con años de experiencia en el sector, entendemos que cada hogar es único. 
              Por eso, ofrecemos un servicio personalizado, asesorando a nuestros clientes 
              en cada paso del proceso de selección, para asegurar que cada mueble no solo 
              se ajuste a sus espacios, sino también a su estilo de vida.
            </p>
            </br>
            <div class="space-y-4">
                <a 
                    href="/contact"
                    class="flex items-center gap-4">
                    <Button className='hover:cursor-pointer'>
                        Dónde estamos
                    </Button>
                </a>
            </div>
          </div>
          
        </div>
      </div>
    </section>
  </main>
</Layout>