---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Express from '../components/Express.astro';
---

<Layout>
	<main class="grow">
		<Hero></Hero>
		<Express></Express>
	</main>
</Layout>

<script>
  window.addEventListener('DOMContentLoaded', () => {
    setTimeout(() => { 
      const hash = window.location.hash;
      if (hash) {
        const element = document.querySelector(hash);
        if (element) {
          
          const elementPosition = element.getBoundingClientRect().top;
          const offsetPosition = elementPosition + window.scrollY - 50;

          window.scrollTo({
            top: offsetPosition,
            behavior: 'smooth'
          });
        }
      }
    }, 100);
  });
</script>
