---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Express from '../components/Express.astro';
---

<Layout>
	<main class="grow">
		<Hero></Hero>
		<Express></Express>
	</main>
</Layout>
