<section class="py-6 px-6 md:px-20 bg-gray-100 md:flex justify-between items-center space-y-4 md:space-y-0">
    <h3 class="md:text-2xl font-semibold uppercase-text">
        Somos fabricantes
        <br/>
        Todos nuestros productos a tu medida
        <br/>
        <span>Telas a elegir</span>
        <br/>
        Financiamos 12 meses SIN INTERESES        
    </h3>
    <div>
        <img src="/images/truck.svg" alt="Envios gratis" class="w-24 h-24 mx-auto" loading="lazy" />
        <h3 class="md:text-2xl font-semibold">
            Envío GRATIS y montaje incluido
        </h3>
    </div>
    
</section>
