<footer class="footer footer-horizontal footer-center flex flex-col items-center justify-center text-center p-10">

    <p class="font-semibold">
      APShome
      <span class="block mt-2 mb-2 text-xs text-pretty">
        Copyright © {new Date().getFullYear()} - Todos los derechos reservados
      </span>
      <span class="block mt-2 mb-2 text-xs text-pretty">
        Hecho con ❤️ por <a href="https://enalcadev.com" target="_blank" rel="noopener noreferrer" class="text-pretty hover:underline">EnalcaDev</a>
      </span>
    </p>
</footer>