<header class="fixed top-0 z-60 w-screen">
    <nav class="flex items-center justify-between bg-white p-4 shadow-md">
        <div class="flex items-center">
            <a href="/" class="text-xl font-bold text-gray-800">APShome - Develop</a>
        </div>
        <ul class="flex space-x-4">
            <li><a href="/contact" class="text-gray-800 hover:text-blue-500">Contacto</a></li>
        </ul>
    </nav>
</header>