<header class="sticky top-0 z-50 bg-white/20 backdrop-blur-md border-b border-white/30">
    <nav class="flex items-center justify-between bg-white/20 backdrop-blur-md p-4 shadow-md">
        <div class="flex items-center">
            <a href="/" class="text-xl font-bold text-gray-800">APShome - Develop</a>
        </div>
        <div class="flex items-center space-x-4 md:mr-6">
            <a href="https://www.instagram.com/apshome.desing" target="_blank" rel="noopener noreferrer">
                <img src="/images/social/instagram.svg" alt="Instagram" class="w-8 h-8" />
            </a>
            <a href="https://www.facebook.com/profile.php?id=61574982483389" target="_blank" rel="noopener noreferrer">
                <img src="/images/social/facebook.svg" alt="Facebook" class="w-8 h-8" />
            </a>
            <a href="https://www.tiktok.com/@apshome.desing?_t=ZN-8vcCiJKwvXa&_r=1" target="_blank" rel="noopener noreferrer">
                <img src="/images/social/tiktok.svg" alt="Tiktok" class="w-8 h-8" />
            </a>
        </div>
    </nav>
</header>