<section class="relative mx-4 pt-6">
    <div class="relative mx-auto mb-16 aspect-video max-w-6xl flex flex-col items-center justify-center  text-center">
        <img class=" rounded-[3rem] w-100 mb-10" src="/images/logo.webp" alt="Hero image" />
        <img aria-hidden="true" class="rounded-[3rem] w-100 absolute inset-0 m-auto blur-2xl -z-10" src="/images/logo.webp" alt="Hero image" />
        <h1 class="text-3xl">Pronto estará disponible la web de APShome.</h1>
    </div>
</section>